<%- include('../partials/header') %>
<h2>Browse Files</h2>
<form method="get" class="search-bar">
  <input type="text" name="q" value="<%= q %>" placeholder="Search titles" />
  <button type="submit">Search</button>
</form>
<ul class="card-list">
  <% files.forEach(file => { %>
    <li class="card">
      <a href="/files/<%= file.id %>"><%= file.title %></a>
      <div class="meta">By <%= file.owner.displayName %> • <%= file.visibility %></div>
    </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
