<%- include('../partials/header') %>
<h2>Browse Files</h2>
<form method="get" class="search-bar">
  <input type="text" name="q" value="<%= q %>" placeholder="Search titles" />
  <button type="submit">Search</button>
</form>
<ul class="card-list">
  <% files.forEach(file => { %>
    <li class="card">
      <div class="avatar-row">
        <% if (file.owner.profileImagePath) { %>
          <img class="avatar-sm" src="/uploads/<%= file.owner.profileImagePath %>" alt="<%= file.owner.displayName %>" />
        <% } else { %>
          <div class="avatar-sm placeholder">MH</div>
        <% } %>
        <span class="muted">by <%= file.owner.displayName %></span>
      </div>
      <a class="title" href="/files/<%= file.id %>"><%= file.title %></a>
      <div class="meta"><%= file.visibility %> • <%= file.fileCategory %></div>
    </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
