<%- include('../partials/header') %>
<%- include('./partials/nav') %>
<h2>Graylist</h2>
<table class="table">
  <thead><tr><th>Username</th><th>Email</th><th>Reason</th><th>Banned At</th></tr></thead>
  <tbody>
    <% entries.forEach(e => { %>
      <tr>
        <td><%= e.username %></td>
        <td><%= e.email %></td>
        <td><%= e.reason %></td>
        <td><%= e.bannedAt.toDateString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>
